@import "./reader-btn.scss";
@import "./reader-select.scss";

.doujinshi-info-tags{
  @extend .blue-grey-text.text-lighten-4 ;
  font-size: 1.5rem;
  color: red;
}

.doujinshi-info{
  @extend .blue-grey-text.text-lighten-4 ;
  font-size: 1.5rem;
  h1 {
    font-size: 2.5rem;
    margin: 0;
  }
  h2 {
    font-size: 2rem;
    margin: 0;
  }
}

@mixin doujinshi-image-size($class-name, $width-name, $height-name){
  &.#{$class-name}{
    &.img-full-size{
      max-#{$width-name}: 100vw;
      #{$width-name}: 100%;
    }
    &.img-mid-size{
      max-#{$width-name}: 100%;
      width: 80%;
    }
    &.img-whole-size{
      max-#{$width-name}: 100vw;
      max-#{$height-name}: 100vh;
    }
    &.img-max-size{
      max-#{$width-name}: 100%;
    }
    &.img-dive{
      position: fixed;
      min-#{$width-name}: 100vw;
      min-#{$height-name}: 100vh;
    }
  }
}

@mixin undragable{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.reader-image{
  @include undragable;
  @each $ang in 0, 90, 180, 270 {
    $class-name: rotate-#{$ang}deg;
    @if $ang % 180 == 0{
      @include doujinshi-image-size($class-name, "width", "height");
    }@else{
      @include doujinshi-image-size($class-name, "height", "width");
    }
    &.#{$class-name}{
      $real_ang: +$ang;
      transform:      rotate(#{$real_ang}deg);
      -ms-transform:  rotate(#{$real_ang}deg);		/* IE 9 */
      -webkit-transform:  rotate(#{$real_ang}deg);	/* Safari and Chrome */
      -o-transform:   rotate(#{$real_ang}deg);		/* Opera */
      -moz-transform: rotate(#{$real_ang}deg);		/* Firefox */
    }
  }
}

.doujinshi-image-container{
  @extend .center ;
}