@import "./node_modules/materialize-sass/sass/materialize.scss";

$primary-color: color("materialize-red", "lighten-2") !default;
$primary-color-light: false !default;
$primary-color-dark:  false !default;
$secondary-color:     color("teal", "lighten-1") !default;
$success-color:       color("green", "base") !default;
$error-color:         color("red", "base") !default;
$link-color:          color("light-blue", "darken-1") !default;
$background-color:    color("blue-grey", "darken-4");

html, body, #app {
  background-color: $background-color;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}
html, body{
  overflow-y: hidden;
}

#app{
  overflow-y: scroll;
}

@import "./scss/reader.scss";

.doujinshi-card.selected-card{
  @extend .blue-grey.darken-2 ; 
}

.doujinshi-card{
  @extend .card ;
  @extend .blue-grey.darken-3 ;
  @extend .blue-grey-text.text-lighten-5 ;
  .card-image{
    margin: 0.25rem;
    img{
      @extend .responsive-img ;
    }
  }
  .card-content{
    overflow-x: hidden;
    padding: 0.5rem;
    h6 {
      font-size: 1.5rem;
      text-align: center;
      white-space: nowrap;
    }
  }
}


input {
  @extend .blue-grey-text.text-lighten-5 ;
}


.remote-ctrl-btn{
  @extend .blue-grey-text.text-lighten-5 ;
  text-align: center;

}

.message-toast{
  font-size: 2rem;
}


